.cardCategoryWhite {
    color: rgba(255, 255, 255, 0.62);
    margin: 0;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.cardTitleWhite {
    color: #fff;
    margin-top: 0px;
    min-height: auto;
    font-weight: 300;
    margin-bottom: 3px;
    text-decoration: none;
}

.rootContainer {
    margin-top: 50;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto !important;
    margin-right: auto !important;
}

.card {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    border: 0;
    display: flex;
    position: relative;
    font-size: 0.875rem;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    flex-direction: column;
}

.cardPlain {
    background: "transparent";
    box-shadow: "none";
}

.cardProfile {
    margin-top: "30px";
    text-align: "center";
}

.cardChart p {
    margin-top: 0px;
    padding-top: 0px;
}

.cardHeader {
    padding: 15px;
    margin-top: -20px;
    border-radius: 3px;
    /* background: linear-gradient(60deg, #00c2c7, #009195); */
    margin: -15px 15px;
    position: relative;
}

.cardBody {
    height: 167px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 16px;
    border: 2px dashed #818cf8;
}

.cardFooter {
    border: 0;
    margin: 15px 15px 10px;
    display: flex;
    padding: 0;
    align-items: center;
    padding-top: 10px;
    border-radius: 0;
    justify-content: space-between;
    background-color: transparent;
}

.footerItems {
    background-color: #818cf8;
    color: #000;
    border: none;
    margin: 0.3125rem 1px;
    padding: 10px 12px;
    position: relative;
    font-size: 12px;
    width: 222px;
    min-width: auto;
    min-height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1.42857143;
    white-space: nowrap;
    will-change: box-shadow, transform;
    touch-action: manipulation;
    border-radius: 3px;
    letter-spacing: 0;
    text-transform: capitalize;
    vertical-align: middle;
}

.footerItems p {
    color: #fff;
    margin-bottom: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: auto;
    font-weight: 400;
    text-decoration: none;
}

.imageInput {
    text-align: center;
    background-color: #ecedf1;
    border-radius: 15px;
    height: 90px;
    justify-content: center;
    overflow: hidden;
    width: 100px;
    float: right;
    margin-bottom: 16px;
    margin-right: 16px;
}

.imageInput i {
    font-size: 2.5em;
    position: relative;
    top: calc(50% - 18px);
}

.imageInput img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}